@{
    ViewData["Title"] = "Home Page";
}
@model Appointment 
<div class="text-center">
    <label>Layton Temple Tours Home</label>
    <br />
    <img src="../img/temple.jpeg" width="400px" />
</div>


