@{
    ViewData["Title"] = "Home Page";
}
@model Group
<div class="text-center">
    <label>Layton Temple Tours Home</label>
    <br />
    <img src="../img/temple.jpeg" width="400px" />
    <div class="container">
        <br />
        <p>Our tours are open from 8:00 AM to 8:00 PM! Come check out the beautiful, newly redesigned temple. </p>
    </div>
</div>


